# API
api/vendor/
api/tmp/
api/log/
api/*.log
api/db/*.sqlite3
api/.env
api/config/master.key

# Bot
bot/node_modules/
bot/.env
bot/.env.production
bot/data/

# Slack
slack/node_modules/
slack/.env
slack/.env.production

# Logs
logs/

# OS
.DS_Store
